p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background: var(--background-color);
  color: var(--body-text-color);
}
.list {
  text-decoration: none;
}
.marker {
  list-style-type: none;
}
